body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.card-title {
  display: none;
}

.cart-icons {
  font-size: 30px;
  padding: 0px 10px;
  color: #1565c0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 5%;
  z-index: 5;
  padding: 1rem;
}

@media (min-width: 767px) {
  .cart {
    bottom: unset;
    top: 5rem;
  }
}

.material-icons {
  font-size: 35px;
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50rem;
  max-width: 95%;
  box-shadow: 1px 2px 4px 2px #434c5e;
  animation: show 500ms ease-in-out;
}

.basket-delete {
  color: #1565c0;
}

.basket-clear {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
}

.basket-delete {
  cursor: pointer;
}

.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: blue;
  font-size: 20px;
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}